<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}"  src="../static/images/logo.png" height="36" width="40" alt="Logo" class="img-fluid" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/}" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shop}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cart}">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contactus}">Contact Us</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <!--<div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Our Products
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Product One</a></li>
                                <li><a class="dropdown-item" href="#">Product Two</a></li>
                                <li><a class="dropdown-item" href="#">Product Three</a></li>
                            </ul>
                        </div>-->
                        <a th:href="@{/login}" >
                        <button class="btn btn-light ms-3" >Login</button></a>
                        <a th:href="@{/register}" >
                        <button class="btn btn-light ms-3">Register</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<div class="jumbotron text-center">
    <h1 class="display-4">Admin Panel</h1>
    <p>You can update product catergory, and products from this panel.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 pt-6" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Types</h4>
                    <p class="card-text">Types/Categories of plants can be managed here</p>
                    <!--<a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary">Manage</a>-->
                    <a href="#" th:href="@{/admin/categories}" class="card-link btn btn-primary"><button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button></a>


                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-6" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Plants</h4>
                    <p class="card-text">Update plants here</p>
                    <!--<a href="#" th:href="@{/admin/products}" class="card-link btn btn-primary">Manage</a>-->
                    <a href="#" th:href="@{/admin/products}" class="card-link btn btn-primary"><button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button></a>
                </div>
            </div>
        </div>

    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>